@keyframes blinkGrow {
    0% {
      opacity: 1;
      r: 4;
    }
    100% {
      opacity: 0;
      r: 10;
    }
  }
  
.animate-blink-grow {
    animation: blinkGrow 1.5s ease-in-out infinite;
}
  